/* 全局样式表 */
html,
body,
#app {
  height: 100%;
  margin: 0;
  padding: 0;
  min-width: 1920px;
}

.el-card > .el-card__header {
  padding: 5px;
  border-bottom: 1px solid #ebeef5;
  box-sizing: border-box;
  align-items: center;
  /* background-color: rgb(230, 230, 230); */
}
.car-header {
  display: flex;
  justify-content: space-between;
}

.echarts {
  width: 100%;
  height: 100%;
}
